@import "materialize/components/color";

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

@import 'materialize';
@import 'https://fonts.googleapis.com/css?family=Lora:400,700';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text';


body{
  font-family: 'Crimson Text', serif;
}


h1{
  font-size: 3.2rem;
  font-family: 'Lora', sans-serif;
}

.error_explanation{
  border: 2px solid #e57373;
  color: #e57373;
  padding: 20px 40px;
}

.btn{
  background-color: transparent;
  border: 2px solid $accent-color;
  text-transform: none;
  color: $accent-color;
}

nav{
  height:84px;
  padding:0px 20px;
}

nav li{
  width:100px;
  margin-right:30px;
}

.dropdown-button{
  font-size: 1.5rem;
  padding:10px 0px;
}


nav img{
  height: 65px;
  vertical-align:middle;
  margin:10px 0px;
}

.notice{
  padding: 20px 30px;
}

.article{
  padding:20px;
}

#homepage{
  height: 100vh;
  width: 100%;
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  margin-top: 0px;
  left: 0;
}

#color_transparency{
  background: rgba( 0, 51, 102, 0.1);
  height:100%;
  width:100%;
  position: fixed;
  z-index:-1;
}

#homepage .btn{
  border: 2px solid white;
  position: relative;
}

.trending-articles{
  color:white;
  width: 50%;
  height:100vh;
  margin:0 auto 0;
  padding: 50px 50px;
  background: rgba(0, 0, 0, 0.8);
}

table{
  margin: 15px auto;
  border-radius:20px;
}

td{
  padding:0px 10px;
  font-size:18px;
}

.btn-floating{
float:right;
background-color: rgba(0, 0, 250, 0.1);
color:white;
line-height:0px;
}

.profile{
  margin-top: 50px;
}

.welcome-banner {
  margin-top: 20%;
}
