
@import "materialize/components/color";


$primary-color-dark:   #E64A19;
$primary-color:        #ef6c00;
$primary-color-light:  #3885D5;
$primary-color-text:   #FFFFFF;
$accent-color:          #277FD8;
$primary-text-color:   #212121;
$secondary-text-color: #3885D5;
$divider-color:        #B6B6B6;


@import 'materialize';
@import 'https://fonts.googleapis.com/css?family=Lora:400,700';
@import 'https://fonts.googleapis.com/css?family=Lato:300';


body{
  font-family: 'Lato', sans-serif;
}

.container{
  width:80%;
  margin:auto;
}

h1{
  font-size: 3.2rem;
  font-family: 'Lora', sans-serif;
}

.error_explanation{
  border: 2px solid #e57373;
  color: #e57373;
  padding: 20px 40px;
}

.btn{
  background-color: transparent;
  border: 2px solid $accent-color;
  text-transform: none;
  color: $accent-color;
}

nav li{
  width:100px;
  margin-right:10px;
}

.notice{
  padding: 20px 30px;
}


nav ul.left{
  height:100%;
}

dropdown-button{
  margin: 10px;
}

nav img{
  height: 60px;
  padding: 5px 10px;
  vertical-align: middle;
}

.article{
  padding:20px;
}


#homepage{
  height: 100vh;
  width: 100%;
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  margin-top: 0px;
  left: 0;
}

#homepage img{
  margin:auto;
  margin-top:15%;
}

#color_transparency{
  background: rgba( 0, 51, 102, 0.3);
  height:100%;
  width:100%;
  position: fixed;
  z-index:-1;
}

.url-form{
  width:100%;
  margin: 20px auto;
}

#player{
  height:100%;
  width:100%;
  margin-bottom:20px;
  padding:20px;
}

audio::-webkit-media-controls-panel {
  background-color: $primary-color-light;
  height: 50px;
  width:80%;
  padding: 10px;
  margin:auto;
}

audio::-webkit-media-controls-timeline{
  background-color: $primary-color-light;
}

h4{
  font-weight:bold;
}

#your-articles{
  margin: 40px auto;
  padding: 20px;
}

#homepage .btn{
  border: 2px solid white;
}