// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;


.inactive {
  display:none;
}

.active {
  display:inline;
}

.text-scroll-container {
  height:250px;
  width:100%;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}

.url-form{
  width:70%;
  margin: 100px auto 40px;
}

#player{
  height:100%;
  width:100%;
  margin-bottom:20px;
  padding:20px;
}

audio::-webkit-media-controls-panel {
  background-color: $primary-color;
  height: 70px;
  width:80%;
  padding: 10px;
  margin:auto;
}

audio::-webkit-media-controls-timeline{
  background-color: $primary-color-light;
}


#your-articles{
  padding:50px;
  width:100%;
}

.article .btn-floating{
  margin:5px;
}

#url-error {
  color: red;
}
